@model VidlyNew.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>


<h2>@Model.Name</h2>
<ul>
    <li>@Html.DisplayNameFor(model => model.Genre.Name): @Model.Genre.Name</li>
    <li>@Html.DisplayNameFor(model => model.ReleaseDate): @Model.ReleaseDate.ToString("dddd, dd/MMM/yyyy")</li>
    <li>@Html.DisplayNameFor(model => model.DateAdded): @Model.DateAdded.ToString("dddd, dd/MMM/yyyy")</li>
    <li>@Html.DisplayNameFor(model => model.NumberInStock): @Model.NumberInStock</li>
</ul>


