@model VidlyNew.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul>
    <li>
        @Html.LabelFor(m => m.Id):
        @Model.Id
    </li>
    <li>
        @Html.LabelFor(m => m.Name):

        @Model.Name
    </li>
    <li>
        @Html.LabelFor(m => m.MembershipType):
        @Model.MembershipType.Name
    </li>
    @if (Model.DateofBirth != null)
    {
        <li>
            @Html.LabelFor(m=> m.DateofBirth):
            @Model.DateofBirth
        </li>
    }
</ul>
