@model VidlyNew.ViewModel.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New customer</h2>
@using (Html.BeginForm("Create", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors:")

    <div class="form-group">
        @Html.LabelFor(m => m.customer.Name)
        @Html.TextBoxFor(m => m.customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.customer.MembershipTypeId, new SelectList(Model.membershipTypes, "Id", "Name"), "Select MemebershipType", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.MembershipTypeId)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.customer.DateofBirth)
        @Html.TextBoxFor(m => m.customer.DateofBirth, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.DateofBirth)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.IsSubscribedToNewsletter) Subscribed to NewsLetter?
        </label>
    </div>

    @Html.HiddenFor(m => m.customer.Id)
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" value="Save" />


}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
